In [46]:
#import libraries
import pandas as pd
import numpy as np

In [47]:
# read the file
hotels = pd.read_csv('C:\\Users\\lolic\\Desktop\\Data science\\dataset\\Kaggle\\hotel booking\\hotel_bookings.csv')

In [48]:
#explore the file and load the first 5 rows of data
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [49]:
# check out how many rows of this data
len(hotels)

119390

In [50]:
# find out if there is any missing data
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [51]:
#children has 4 missing,country 488 missing,agent 16340 missing and company has the most missing 112593,drop 'company'column to clean the data
hotels = hotels.drop('company',axis=1)
hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [52]:
# top 10 country in the dataset
hotels['country'].value_counts()[:10]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
Name: country, dtype: int64

In [54]:
#The mean ADR(average daily rate) of all the hotel stays in the dataset
np.round(hotels['adr'].mean(),decimals = 2)

101.83

In [55]:
#The average(mean) number of nights for a stay across the entire dataset
#Total stay nights include 'stay in week nights' and 'stays in weekend nights'
hotels['total_stay_nights'] = hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']
round(hotels['total_stay_nights'].mean(),2)

3.43

In [56]:
# The average(mean) total cost for a stay
hotels['total_spend'] = hotels['adr']*hotels['total_stay_nights']
round(hotels['total_spend'].mean(),2)

357.85

In [57]:
#The highest paid ADR(average daily rate)
hotels[['adr','total_stay_nights','reservation_status']].max()

adr                    5400.0
total_stay_nights          69
reservation_status    No-Show
dtype: object

In [58]:
# The percentage of 'repeat guests'
round(100 * sum(hotels['is_repeated_guest']==1) / len(hotels),2)

3.19

In [59]:
#Top 5 bookings with the most number of children and babies
hotels['total_kids'] = hotels['children'] + hotels['babies']
hotels.nlargest(5,'total_kids')[['hotel','adr','reservation_status','total_stay_nights','total_kids','babies','children']]

,hotel,adr,reservation_status,total_stay_nights,total_kids,babies,children
328,Resort Hotel,133.16,No-Show,14,10.0,0,10.0
46619,City Hotel,84.45,Check-Out,2,10.0,10,0.0
78656,City Hotel,95.00,Check-Out,3,9.0,9,0.0
3574,Resort Hotel,73.10,Canceled,6,3.0,1,2.0
5189,Resort Hotel,118.00,Canceled,9,3.0,1,2.0